node_modules

# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Dependencias
node_modules/
pnpm-lock.yaml

# Logs
*.log
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de compilación/build
dist/
build/
out/
.next/

# Archivos de depuración
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de coverage
coverage/
.nyc_output/

# Archivos de testing
jest.config.js
.nycrc

# Archivos de caché
.cache/
.temp/
.tmp/